.p{
    justify-content: center;
    align-items: center;
}
.btn{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}